<%- include('../include/_header.ejs') %>



<h1>Forget password</h1>

<% 
if(typeof message !== 'undefined'){
  %>
  <h3> <%=message %> </h3>
  <%
}
%>

<form action="" method="post">
  <input type="email" name="email" placeholder="enter email">
</br>
<input type="submit" value="reset">
</form>

<%- include('../include/_footer.ejs') %>
