<%- include('include/_header.ejs') %>

<form action="" method="post">
  <input type="password" name="password"  required placeholder="enter password" />
  <input type="hidden" name="user_id"  value=" <%= user_id %> "
  <input type="hidden" name="">
  <br />
  <input type="submit" value="reset password" />
</form>

<%- include('include/_footer.ejs') %>
