<%- include('include/_header.ejs') %>

<h1 class="text-center">Forget</h1>

<% if(typeof message !== 'undefined') { %>
<h4 class="text-center"><%= message %></h4>
<% } %>

<form action="/forget" method="post" class="pt-3">
  <div class="form-group">
    <!--     <input type="email" class="form-control" placeholder="email" />
  </br> -->
    <div class="form-group">
      <input
        type="email"
        class="form-control"
        placeholder="email"
        name="email"
      />
      <br />
    </div>
    <button type="submit" class="btn btn-success rounded-pill">reset</button>
</form>
<%- include('include/_footer.ejs') %>
